@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhai+2:wght@400..800&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Inter", sans-serif;
}

.page-container {
    padding: 32px;
    background-image: linear-gradient(to bottom in oklab, #bedbff, #eff6ff, #fff);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.contentBox {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    padding: 24px 0;
    gap: 30px;
}

.contentBox .left-main {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contentBox .right-main {
    width: 60%;
}

.contentBox .left-main header {
    height: 24px;
    display: flex;
    justify-content: left;
    font-family: "Poppins", "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
}

.contentBox .left-main .searchBar {
    padding: 16px;
    background-color: #ffffffcc;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border: 1px solid #0000001a;
    border-radius: 16px;
    backdrop-filter: blur(8px);
}

.contentBox .left-main .searchBar .searchElements {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 36px;
    box-sizing: border-box;
}

.contentBox .left-main .searchBar .searchElements input {
    padding: 4px 12px;
    width: 85%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.4;
    border: 1px solid #ebe6e7;
    outline: transparent;
    border-radius: 14px;
    transition: all 0.2s ease-in-out;
}

.contentBox .left-main .searchBar .searchElements input:focus {
    outline: 2.5px solid #a1a1a180;
}

.contentBox .left-main .searchBar .searchElements button {
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    background-color: #030213;
    width: 40px;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: transparent;
    border: transparent;
    border-radius: 14px;
}

.contentBox .left-main .searchBar .searchElements button svg {
    stroke: #fff;
}

.contentBox .left-main .weatherContainer {
    background-color: #fff;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.contentBox .left-main .weatherContainer header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    margin-bottom: 16px;
    color: #0a0a0a;
}

.contentBox .left-main .weatherContainer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    height: 80px;
    width: 80px;
}

.contentBox .left-main .weatherContainer .icon svg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b7fff;
}

.contentBox .left-main .weatherContainer .condition {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    margin-bottom: 16px;
    color: #4a5565;
}

.contentBox .left-main .weatherContainer .temp {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    height: 48px;
    width: auto;
    margin: 8px 0;
}

.contentBox .left-main .weatherContainer .otherInfo {
    width: 100%;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid rgba(179, 179, 179, 0.337);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.contentBox .left-main .weatherContainer .otherInfo .humidity,
.wind {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.contentBox .left-main .weatherContainer .otherInfo .humidity .name {
    color: #4a5565;
}

.contentBox .left-main .weatherContainer .otherInfo .wind .name {
    color: #4a5565;
}

.contentBox .left-main .weatherContainer .otherInfo .humidity .icon {
    height: 20px;
    width: 20px;
}

.contentBox .left-main .weatherContainer .otherInfo .humidity .icon svg {
    stroke: #2b7fff;
}

.contentBox .left-main .weatherContainer .otherInfo .wind .icon {
    height: 20px;
    width: 20px;
}

.contentBox .left-main .weatherContainer .otherInfo .wind .icon svg {
    stroke: #6a7282;
}

.contentBox .right-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contentBox .right-main header {
    height: 24px;
    display: flex;
    justify-content: left;
}

.contentBox .right-main ul {
    display: flex;
    gap: 20px;
    align-items: center;
    overflow-wrap: anywhere;
    width: 100%;
}

.contentBox .right-main ul li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 14px;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: all 0.2s ease-in-out;
}

.contentBox .right-main ul li:hover {
    box-shadow: 0 4px 10px 3px rgb(0 0 0 / 0.1);
}

.contentBox .right-main ul li .day {
    width: 100%;
    margin-bottom: 12px;
    height: 24px;
    text-align: center;
}

.contentBox .right-main ul li .icon {
    width: 100%;
    height: 40px;
    width: 40px;
    margin-bottom: 12px;
}

.contentBox .right-main ul li .icon svg {
    height: 40px;
    width: 40px;
}

.contentBox .right-main ul li .maxTemp,
.minTemp {
    height: 24px;
    color: #6a7282;
    margin-bottom: 3px;
    font-size: 14px;
}

.page-container .hourlyForecastSection {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.hourlyForecast {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 48px 0 96px;
    position: relative;
}

.hourlyForecast header {
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
    text-align: left;
}

.hourlyForecast ul {
    display: flex;
    gap: 15px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.hourlyForecast ul li {
    height: 96px !important;
    width: 80px !important;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #ffffffcc;
    border-radius: 14px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 16px;
    border: 1px solid rgb(227, 227, 227);
}

.hourlyForecast ul li .time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    color: #4a5565;
    margin-bottom: 8px;
}

.hourlyForecast ul li .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.hourlyForecast ul li .icon svg {
    height: 32px;
    width: 32px;
}

.hourlyForecast ul li .temp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
}

.leftButton,
.rightButton {
    position: absolute;
    top: 50%;
}

.leftButton {
    top: 50%;
    left: 0;
}

.rightButton {
    top: 50%;
    right: 0;
}

.leftButton button {
    visibility: hidden;
    opacity: 0;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffffff2;
    border-radius: 50%;
    border: 1px solid rgba(208, 208, 208, 0.669);
    outline: transparent;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    z-index: 10;
    transition: all 0.1s ease-in-out;
}

.rightButton button {
    visibility: hidden;
    opacity: 0;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffffff2;
    border-radius: 50%;
    border: 1px solid rgba(208, 208, 208, 0.669);
    outline: transparent;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    z-index: 10;
    transition: all 0.1s ease-in-out;
}

.unitChanger {
    position: fixed;
    bottom: 30px;
    right: 35px;
}

.unitChanger button {
    font-family: "Inter", "Poppins", sans-serif;
    background-color: #fff;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    border: 1.5px solid rgba(213, 213, 213, 0.828);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    font-size: 18px;
    line-height: 1.4;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.unitChanger button:hover {
    border-color: #2b7fff;
}

.aqiSection {
    margin-top: 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    border-top: 1px solid rgba(179, 179, 179, 0.337);
}

.aqiSection header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 !important;
    color: #4a5565 !important;
}

.aqiSection header span {
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    background-color: #00c951;
    border-radius: 20px;
    padding: 4px 12px;
    line-height: 1.4;
}

.aqiSection.good header span {
    background-color: #00c951;
}

.aqiSection.fair header span {
    background-color: #f0b100;
}

.aqiSection.moderate header span {
    background-color: #ff6900;
}

.aqiSection.poor header span {
    background-color: #fb2c36;
}

.aqiSection.veryPoor header span {
    background-color: #ad46ff;
}

.aqiSection.hazardous header span {
    background-color: #8b0836;
}

.aqiSection.good header condition {
    font-size: 16px;
    height: 24px;
    color: #008236;
}

.aqiSection.fair header condition {
    font-size: 16px;
    height: 24px;
    color: #a65f00;
}

.aqiSection.moderate header condition {
    font-size: 16px;
    height: 24px;
    color: #ca3500;
}

.aqiSection.poor header condition {
    font-size: 16px;
    height: 24px;
    color: #c10007;
}

.aqiSection.veryPoor header condition {
    font-size: 16px;
    height: 24px;
    color: #8200db;
}

.aqiSection.hazardous header condition {
    font-size: 16px;
    height: 24px;
    color: #8b0836;
}

.aqiSection .pm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 64px;
    width: 100%;
}

.aqiSection .pm .aqiLeft,
.aqiRight {
    background-color: #f0fdf4;
    border-radius: 10px;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: 10px;
}

.aqiSection.good .pm .aqiLeft {
    background-color: #f0fdf4;
}

.aqiSection.good .pm .aqiRight {
    background-color: #f0fdf4;
}

.aqiSection.fair .pm .aqiLeft {
    background-color: #fefce8;
}

.aqiSection.fair .pm .aqiRight {
    background-color: #fefce8;
}

.aqiSection.moderate .pm .aqiLeft {
    background-color: #fff7ed;
}

.aqiSection.moderate .pm .aqiRight {
    background-color: #fff7ed;
}

.aqiSection.poor .pm .aqiLeft {
    background-color: #fef2f2;
}

.aqiSection.poor .pm .aqiRight {
    background-color: #fef2f2;
}

.aqiSection.veryPoor .pm .aqiLeft {
    background-color: #faf5ff;
}

.aqiSection.veryPoor .pm .aqiRight {
    background-color: #faf5ff;
}

.aqiSection.hazardous .pm .aqiLeft {
    background-color: #fff1f2;
}

.aqiSection.hazardous .pm .aqiRight {
    background-color: #fff1f2;
}

.aqiSection .pm p {
    color: #6a7282;
    height: 16px;
    font-size: 12px;
}

.aqiSection .pm .readings {
    height: 24px;
    font-size: 16px;
    color: #008236;
    font-weight: 400;
}

.aqiSection.good .pm .readings {
    color: #008236;
}

.aqiSection.fair .pm .readings {
    color: #a65f00;
}

.aqiSection.moderate .pm .readings {
    color: #ca3500;
}

.aqiSection.poor .pm .readings {
    color: #c10007;
}

.aqiSection.veryPoor .pm .readings {
    color: #8200db;
}

.aqiSection.hazardous .pm .readings {
    color: #8b0836;
}